* {
  background-color: black;
  color: white;
}

div.container {
  float: left;
}

div.banner-header {
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto 0 0;
  border: 0px;
  padding: 0px;
  z-index: 5;
}

div.myname {
  width: 60%;
  min-width: 128px;
  max-width: 512px;
  margin: auto 10 10;
  border: 0px;
  padding: 10px;
  background-color: inherit;
}

div.myname img {
  background-color: black;
  width: 100%;
}

div.splash-portfolio {
  width: 100vw;
  height: 500px;
  left: 0;
  margin: auto 0 0;
  border: 0px;
  padding: 0px;
  background-color: blue;
  z-index: 10;
  display: flex;
  justify-content: center;
}

div.splash-section {
  width: 100vw;
  height: 320px;
  left: 0;
  margin: auto 0 0;
  padding: 0px;
  background-color: red;
}

div h1 {
  width: 50%;
  font-size: 10vw;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
}

h3 {
  text-transform: capitalize;
}


div.banner-footer {
  width: 100vw;
  height: 15vh;
  min-height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  border: 0px;
  padding: 10px;
  z-index: 3;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.social {
  height: 90%;
  background-color: black;
  color: white;
  max-height: 675px;/* 125% of the LinkedIn icon's height */
  display: flex;
  justify-content: center;
}

div.social a img {
  background-color: inherit;
  height: 90%;
  max-height: 540px;/* Size of the official LinkedIn brand icon */
}