/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*********
MY STYLING
*********/

/* HEADER */

* {
  text-decoration: none;
}

body {
  background-color: #fff;
}

header {
  background-color: #111;
  width: 100%;
  height: 100px;
  position: fixed;
}

header .header-me {
  color: #f2f2f2;
  font-family: 'Josefin Sans';
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: left;
  padding: 20px 40px 20px 10px;
}

header nav ul {
  margin: auto 0 0;
  width: fit-content;/* I'm not sure if this is necessary if this isn't centered... */
}

header nav ul li {
  display: inline-block;
  float: left;/* Gives error in VS Code but has desired behavior. Conflicts with "inline-block," but gets rid of the gap between links... */
  list-style: none;/* Get rid of the ugly formatting from lists. */
  padding: 0 10px;
}

header nav ul li a {
  color: #f2f2f2;
  font-family: 'Josefin Sans';
  font-size: 16px;
}

header .header-samples {
  display: none;/* Hides this link on the mobile version (low-res).*/
}

/* INDEX - BANNER */

main {
  padding-top: 100px;
}

.index-banner {
  width: 100%;
  height: calc(100vh - 100px);/* "100px" is the specified height of the header, above */
  background-image: url('../img/pat_icon1-2[180].png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;/* Sets up the "table-cell" call in .vertical-banner, below */
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  color: #f2f2f2;
  font-family: 'Josefin Sans';
  font-size: 56px;
  text-transform: lowercase;
  text-align: left;
  padding-left: 10px;
  line-height: 64px;
  font-weight: 500;
  text-shadow: 1px 3px 4px #000;/* [horizontal] [vertical] [blur] [color] */
}

.index-banner h1 {
  color: #f2f2f2;
  font-family: 'Cormorant Garamond';
  font-size: 28px;
  text-align: center;
  padding-left: 10px;
  font-weight: 300;
  font-style: italic;
  text-shadow: 2px 2px 2px #000;
}

span.highlight {
  font-weight: 800;
  font-style: normal;
  -webkit-text-stroke: 2px 0080aa;
}

/* INDEX - PROJECTS */

section.index-projects {
  width: calc(100% - 80px);/* 100% - (40px from left padding) - (40px from right padding)*/
  height: calc(100vh - 100px);
  padding: 40px 40px;
  background-color: #802458;
  overflow: hidden;
  display: table;
}

section.index-projects ul {
  float: right;
  margin: 0;
  border: 8px double #ee488f;
  padding: 40px;
  width: fit-content;
  font-family: 'Josefin Sans';
  font-size: 20px;
  line-height: 30px;
  color:#ee488f;
  font-variant: small-caps;
}

section.index-projects ul li {
  display: block;
  list-style: none;
  font-variant: normal;
  text-align: right;
}

/* INDEX - ABOUT */

section.index-about {
  width: calc(100% - 80px);/* 100% - (40px from left padding) - (40px from right padding)*/
  height: calc(100vh - 100px);
  padding: 40px 40px;
  background-color: #4b692f;
  overflow: hidden;
  display: table;
}

section.index-about ul {
  float: right;
  margin: 0;
  border: 8px double #959447;
  padding: 40px;
  width: fit-content;
  font-family: 'Josefin Sans';
  font-size: 20px;
  line-height: 30px;
  color:#ee488f;
  font-variant: small-caps;
}

section.index-about ul li {
  display: block;
  list-style: none;
  font-variant: normal;
  text-align: right;
}

/* INDEX - CONTACT */

section.index-contact {
  width: calc(100% - 80px);/* 100% - (40px from left padding) - (40px from right padding)*/
  height: calc(100vh - 100px);
  padding: 40px 40px;
  background-color: #802458;
  overflow: hidden;
  display: table;
}

section.index-contact ul {
  float: right;
  margin: 0;
  border: 8px double #ee488f;
  padding: 40px;
  width: fit-content;
  font-family: 'Josefin Sans';
  font-size: 20px;
  line-height: 30px;
  color:#ee488f;
  font-variant: small-caps;
}

section.index-contact ul li {
  display: block;
  list-style: none;
  font-variant: normal;
  text-align: right;
}

/* FOOTER */

footer {
  width: calc(100% - 80px);/* 100% - (40px from left padding) - (40px from right padding)*/
  padding: 40px 40px;
  background-color: #111;
  overflow: hidden;
  display: table;
}

footer ol {
  width: fit-content;
  float: left;
  padding-left: 10px;
}

footer ol li {
  display: block;
  list-style: none;
}

footer ol li a {
  font-family: 'Josefin Sans';
  font-size: 20px;
  line-height: 42px;
  color:#f2f2f2;
}

.footer-links-projects {
  display: none;
}

.footer-social {
  width: 50px;
  float: right;
}

.footer-social img {
  width: 100%;
  margin-bottom: 10px;
  padding: 4px 0;
}